<main class='list-peeps-wrapper'>
	<div class='list-peeps'>
		<h2 class='peeps-heading'>
			<%= @peeps_heading %>
		</h2>
	 	<ul>
	 		<% @peeps.each do |peep| %>
	 			<article class='each-peep'>
			 			<li>
			 				<section class='peep-content'>
			 					<a href="/users/<%= peep.user.username %>" class='peep-username'><b>@<%= peep.user.username %></b></a>
			 					<%= peep.text %><br>
			 				</section>
			 				<div class='timestamp'><em><%= peep.time %></em></div>
		 					
		 				</li>
		 		</article>
		 	<% end %>
		 </ul>
	</div>
</main>